
.verify-wrapper {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

.full-width {
  width: 100%;
}

/* Style the mat-form-field background and input text */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #fff; /* Outline color if needed */
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #fff;
}

.mat-form-field-infix {
  background-color: #000; /* black background */
  color: #fff; /* white text */
  border-radius: 4px;
}

.mat-input-element {
  color: #fff; /* white text */
}

.error {
  color: #d32f2f;
  margin: 8px 0;
  font-weight: 500;
}
mat-label{
    color: blue;
}

.btn-submit {
  width: 100%;
  height: 45px;
  margin-top: 15px;
}
::ng-deep .mat-mdc-text-field-wrapper {
  background-color:black ;}